.container-fluid {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.jumbotron {
    margin: auto;
    margin-top: 8%;
    background-color: rgba(255, 255, 255, .7);
    width: 50%;
    color: Black;
    font-family: 'Bahiana', cursive;
}

.title {
    font-size: 3em;
}

.city,
.main,
.temp {
    font-size: 1.5em;
}

.btn {
    font-size: 1.2em;
    margin-bottom: 16px;
}

.btn,
.jumbotron {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
